.jobcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.maincont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 1;
}

.jobsdisplay {
    display: flex;
    justify-content: left;
    gap: 1.5em;
    flex-wrap: wrap;
}


.searchbar {
    border: 1px solid #7f8389;
    border-radius: 10px;
    padding: .7em;
    margin-bottom: 1em;
    max-width: 200px;
}

.alljobscard {
    max-width: 600px;
    min-width: 400px;
    margin-bottom: 1.5em;
    background-color: #0751cc;
    color: white;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.alljobscard h3 {
    font-family: archivo;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.alljobscard h2 {
    font-family: archivo;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1em;
    margin-top: 10px;
}

.alljobscard p {
    font-family: montserrat;
    font-weight: 200;
    font-size: .9em;
}

.butts {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.butts button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-family: archivo;
    font-weight: 300;
}

.deets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: montserrat;
    font-weight: 200;
    padding: 1em 0em;
}

.deets ul {
    margin-left: 2em;
}

.pages button {
    background: none;
    border: 1px solid;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: .7em;
}

.pages {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-bottom: 10px;
}

.sheader {
    font-family: archivo;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1.5em;
    margin-top: .2em;
    margin-bottom: .5em;
}

h1 {
    font-family: archivo;
    font-weight: 200;
    margin-bottom: .5em;
    font-size: 2.7em;
}


@media (max-width:700px) {
    .alljobscard {
        min-width: 0;
        width: 100%;
        flex-grow: 1;
    }

    .alljobs {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        align-items: flex-start;

    }

    .searchbar {
        max-width: 100%;
        min-width: 0;
    }

    .alljobscard {
        margin-bottom: .5em;
    }

}

@media (max-width:1040px) {
    .searchbar {
        max-width: 100%;
        min-width: 0;
    }

    .jobsdisplay {
        display: flex;
        justify-content: center;
        gap: 1.5em;
        flex-wrap: wrap;
    }

    .skilljobs {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .locationjobs {
        width: 100%;
        display: grid;
        place-items: center;
    }

    .sheader {
        text-align: center;
        font-size: 1.5em;
    }



}

@media (max-width:500px) {
    .alljobscard h3 {
        font-size: 1em;
    }

    .alljobscard p {
        font-size: .7em;
    }

    .welcies h1 {
        font-size: 2em;
    }


}